[submodule "depend/fly"]
	path = depend/fly
	url = git@github.com:lichuan/fly.git
[submodule "depend/secp256k1"]
	path = depend/secp256k1
	url = git@github.com:lichuan/secp256k1.git
[submodule "depend/leveldb"]
	path = depend/leveldb
	url = git@github.com:lichuan/leveldb.git
[submodule "depend/snappy"]
	path = depend/snappy
	url = git@github.com:lichuan/snappy.git
