[submodule "depend/fly"]
	path = depend/fly
	url = https://github.com/lichuan/fly.git
[submodule "depend/openssl"]
	path = depend/openssl
	url = https://github.com/lichuan/openssl-1.0.2k.git
[submodule "depend/snappy"]
	path = depend/snappy
	url = https://github.com/lichuan/snappy.git
[submodule "depend/secp256k1"]
	path = depend/secp256k1
	url = https://github.com/lichuan/secp256k1.git
[submodule "depend/leveldb"]
	path = depend/leveldb
	url = https://github.com/lichuan/leveldb.git
