//this is only example! only example !!!,
//for real data structure, please visit github source code. ( https://github.com/lichuan/askcoin )

//genesis block
{
    "data": {
        "id": 0,
        "utc": 1518926400,
        "version": 10000,
        "zero_bits": 0,
        "intro": "This coin is a gift for those who love freedom.",
        "init_account": {
            "account": "lichuan",
            "id": 1,
            "avatar": 1,
            "pubkey": "BH6PNUv9anrjG9GekAd+nus+emyYm1ClCT0gIut1O7A3w6uRl7dAihcD8HvKh+IpOopcgQAzkYxQZ+cxT+32WdM="
        },
        "author": {
            "name": "Chuan Li",
            "country": "China",
            "github": "https://github.com/lichuan",
            "mail": "308831759@qq.com",
            "belief": "In the beginning, God created the heavens and the earth."
        }
    },
    "children": [
        
    ]
}

//other block
{
    "hash": "002fbcdefgaa99232bcd",
    "sign": "wewoeisign.fdfdsfd",
    "data": {
        "id": 1,
        "utc": 2938293,
        "version": 1000,
        "zero_bits": 25,
        "pre_hash": "eeewfwefwf",
        "miner": "22223",
        "tx_ids": [
            "e22",
            "2232323"
        ],
        "nonce": [8298392839283293892,0,0,0]
    },
    "tx": [
        {
            "sign": "oijowwwwwwwww",
            "data": {
                "type": 2,
                "pubkey":"efweffwf",
                "utc": 2989883883,
                "block_id": 339,
                "fee":92832,
                "amount": 100000000000000,
                "memo": "this is my memo msg",
                "receiver": "pubkey..."
            }
        },
        {
            "sign": "oijowwwwwwwww",
            "data": {
                "type": 2,
                "pubkey":"efweffwf",
                "utc": 2989883883,
                "block_id": 339,
                "amount": 100000000000000,
                "fee":22232323,
                "memo": "this is my memo msg",
                "receiver": "pubkey..."
            }
        }
    ]
}

//tx register account
{
    "sign":"oijowwwwwwwww",
    "data":{
        "pubkey":"eeeeeeeeeee",
        "type":1,
        "utc":9988888,
        "avatar":22,
        "sign":"awfwewewdffff",
        "sign_data": {
            "block_id":9283,
            "name":"b64(iijjjj中文)",
            "referrer":"pubkey.......",
            "fee":100000000
        }
    }
}

//tx sendcoin
{
    "sign":"oijowwwwwwwww",
    "data":{
        "type":2,
        "utc": 2989883883,
        "block_id": 339,
        "fee":2000022,
        "amount": 10000000,
        "memo":"this is my memo msg",
        "receiver":"pubkey........"
    }
}

//tx new topic
{
    "sign":"oijowwwwwwwww",
    "data":{
        "type":5,
        "pubkey":"oikkkkkkkkkk",
        "utc":9988888,
        "fee":2222,
        "reward":9999,
        "block_id": 339,
        "topic":"abceffabbbb323233232323"
    }
}

//tx topic reply
{
    "sign":"oijowwwwwwwww",
    "data":{
        "type":6,
        "pubkey":"eeeeeeeeee",
        "utc":9988888,
        "fee":332,
        "block_id": 339,
        "topic_key":"lllllllllllllllllllllllllllllllll",
        "reply":"abceffabbbb323233232323",
        "reply_to":"to key..."
    }
}

//tx give reward
{
    "sign":"oijowwwwwwwww",
    "data":{
        "type":7,
        "utc":9988888,
        "pubkey":"2fwfewefef",
        "fee":98,
        "block_id": 339,
        "topic_key":"lllllllllllllllllllllllllllllllll",
        "reply_to":"ooooooooooiwiieiweo",
        "amount":9222
    }
}

//broadcast
{
    "msg_type":232,
    "msg_cmd":99,
    "block": {
        "hash": "002fbcdefgaa99232bcd",
        "sign": "wewoeisign.fdfdsfd",
        "pow": [1,2,3,4,5,6,7,8,9],
        "data": {
            "id": 1,
            "utc": 2938293,
            "version": 1000,
            "zero_bits": 25,
            "pre_hash": "eeewfwefwf",
            "miner": "22223",
            "tx_ids": [
                "e22",
                "2232323"
            ],
            "nonce": [8298392839283293892,0,0,0]
        },
        "tx": [
            {
                "sign": "oijowwwwwwwww",
                "data": {
                    "type": 2,
                    "pubkey":"efweffwf",
                    "utc": 2989883883,
                    "block_id": 339,
                    "fee":92832,
                    "amount": 100000000000000,
                    "memo": "this is my memo msg",
                    "receiver": "pubkey..."
                }
            },
            {
                "sign": "oijowwwwwwwww",
                "data": {
                    "type": 2,
                    "pubkey":"efweffwf",
                    "utc": 2989883883,
                    "block_id": 339,
                    "amount": 100000000000000,
                    "fee":22232323,
                    "memo": "this is my memo msg",
                    "receiver": "pubkey..."
                }
            }
        ]
    }
}
